@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-delay-0 {
    animation-delay: 0ms;
  }
  .animate-delay-120 {
    animation-delay: 120ms;
  }
  .animate-delay-240 {
    animation-delay: 240ms;
  }
}
